
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}
a, .text, .placeholder {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    gap: 20px;
    padding:0 200px;
    
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 42px 0;
    font-size: 20px;
}
.logo { 
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-container {
    display: flex;
    padding: 120px 200px;
    background-color: #1F2937;
    gap: 70px;

      
}
.hero-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 450px;
    align-items: flex-start;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
}
.infobox {
    display: flex;
    flex-direction: column;
    width: 155px;
    justify-content: center;
    align-items: center;  
}

.infotext {
    text-align: justify;
    color: #1F293790;
    text-align-last: center;  
    font-weight: 500;
}

.box {
    width: 165px;
    height: 165px;
    border:4px solid #3882F6;
    border-radius: 15px; 
}

button {
    background-color: #3882F6;
    color:  #F9FAF8;
    border-radius: 8px;
    border: 0px;
    font-size: 16px;
    padding: 8px 33px;
    font-weight: 800;
    flex: 0;
    
}

.placeholder {
    display: flex;
    max-width: 500px;
    background-color: rgb(105, 108, 118);
    justify-content: center;
    align-items: center;
    flex: 1 0 100%;

}

ul {
    list-style-type: none;
    display: flex;
    gap: 17px;
}
.random {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5e7EB;
    padding: 80px 310px;
    
}
.quote {
    color:#1F293795;
    font-size: 36px;
    font-style: italic;
    font-weight: 280;
    text-align: justify;
}
.signature {
    align-self: flex-end;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}

.cta {
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    padding: 55px 0px;
    border-radius: 10px;
    margin: 100px 200px;
}

.sub-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.callingb {
    margin: 0;
    color:#E5e7EB99;
}
.calling {
    color:#E5e7EB;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.ctabutton {
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px 33px;
    font-weight: 800;
    flex-grow: 0;
    min-width: 150px;
    max-height: 40px;
    align-self: center;
}